@import url('https://fonts.googleapis.com/earlyaccess/notosanskr.css');

.container{
  display: flex;
  margin-top:56px;
  padding: 0px;
  width:100%
}

.left_div{
  background-color: #100F11;
  width: 30%;
  display:flex;
  /*justify-content:center;*/
  flex-direction: column;
  align-items: center;
}

.right_div{
 width: 70%;
 display: flex;
 flex-direction:  column;
 align-items:  center;

}

.pages{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.card-div{
  display: flex;
  flex-direction:  row;
  justify-content: center;
  width:100%;
  padding:10px;
}

img {
 margin:32px;
 width:160px;
 height:160px;
}

.position{
  font-family: 'Noto Sans KR','Roboto',sans-serif;
  font-weight: 300;
  padding-left: 40px;
  padding-right:40px;
  color: #ea094f
}

.title_1{
  font-family: 'Noto Sans KR','Roboto',sans-serif;
  font-weight: 700;
  margin-top: 4px;
  color: white;
}
.title_2 {
  font-family: 'Roboto',sans-serif;
  font-weight: 700;
  margin-top: 4px;
  color: white;
}

.title_3{
  font-family: 'Roboto',sans-serif;
  font-weight: 700;
  margin-top: 4px;
  color: #100F11;
  font-size: 20px;
}

.content_left {
  font-family: 'Noto Sans KR','Roboto',sans-serif;
  font-weight: 300;
  margin-top: 16px;
  padding-left: 40px;
  padding-right:40px;
  color: white;
}

hr{
  margin: 10px;
  border: 0;
  border-top: 1px solid #afafaf;
  width: 120px;
}


.card{
  width: 15rem;
  border: 0;
  box-shadow: 0px 0px 4px rgba(0,0,0,.125);
  margin: 4px;
}


.card-title{
  font-family: 'Roboto',sans-serif;
  font-weight: 700;
  margin-top: 4px;
}
.card-text{
  font-family: 'Noto Sans KR','Roboto',sans-serif;
  font-weight: 300;
}

.card-date{
  font-family: 'Noto Sans KR','Roboto',sans-serif;
  font-weight: 300;
  color: #ea094f
}

.fa{
  color: #ea094f
}

.badge-info{
  background-color: #ea094f;
  margin:auto;
}

@charset "UTF-8";
body {
  margin: 0;
  font-family: 'Roboto', arial, sans-serif;
  font-weight: 300;
  color: #333;

}
