{% extends "resume_prac/header.html" %}
{% load staticfiles %}

<html>
<head>
    <title>관심사 추가</title>



  {% block extra_head %}
  <script>

  window.onload = function(){
     new Vue({
    el: "#app",
    data: {
      rows: [
        {tag_name:""},
      ]
    },
    methods:{
      addRow: function(event){
        if(event) event.preventDefault()
        this.rows.push({tag_name:""});
      },
      remove: function(row,index){
        if(event) event.preventDefault()
        this.rows.splice(index,1)
      },
    }
  });
}
</script>
{% endblock %}

</head>
{% block content %}
<body style="padding:10%">

  <div class="content container">
      <header class="page-header">
          <h1>관심사 추가하기</h1>
      </header>

      <div class="row">
          <div class="col-md-12">
              <form method="POST" enctype="multipart/form-data" class="form_layout" >
                  {% csrf_token %}

                <div id="app">
                  <table class="table">
                    <thead>
                      <tr>
                        <td><strong>관심사</strong></td>
                        <td><button class="btn btn-primary" @click="addRow" v-on:submit.prevent>추가하기</button></td>
                      </tr>
                    </thead>
                    <tbody>
                      <tr v-for="(row,index) in rows" v-bind:key="row.id" v-on:remove="rows.splice(index, 1)">
                        <td><input v-model="row.tag_name" type="text" name="tag_name" class="form-control" id="tag_name" placeholder="관심사를 입력"></td>
                        <td><button class="btn btn-primary" @click="remove(row,index)" >Remove</button></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                
            <button type="submit" class="btn btn-success">제출</button>
          </form>
          </div>
      </div>
  </div>
</body>
{% endblock%}
</html>
