{% extends "resume_prac/header.html" %}
{% load staticfiles %}

<html>
<head>
  {% block title %} <title>기술 스택 입력하기 </title> {% endblock %}

  {% block extra_head%}
  <script>

  window.onload = function(){
     new Vue({
    el: "#app",
    data: {
      rows: [
        {skill: "",degree: 0},
      ]
    },
    methods:{
      addRow: function(event){
        if(event) event.preventDefault()
        this.rows.push({skill:"",degree: 0});
      },
      remove: function(row,index){
        if(event) event.preventDefault()
        this.rows.splice(index,1)
      },
    }
  });


  }

</script>
{% endblock%}

</head>

{% block content %}
<body style="padding:10%">
<div class="content container">
    <header class="page-header">
        <h1>기술 스택 입력하기</h1>
    </header>
    <div class="row">
        <div class="col-md-12">
            <form method="POST" enctype="multipart/form-data" class="form_layout" >
                {% csrf_token %}

              <div id="app">
                <table class="table">
                  <thead>
                    <tr>
                      <td><strong>기술 스택</strong></td>
                      <td><strong>기술 능숙도</strong></td>
                      <td><button class="btn btn-primary" @click="addRow" v-on:submit.prevent>추가하기</button></td>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="(row,index) in rows" v-bind:key="row.id" v-on:remove="rows.splice(index, 1)">
                      <td><input v-model="row.skill" type="text" name="skill" class="form-control" id="skill" placeholder="추가하고 싶은 기술 스택을 적어주세요."></td>
                      <td><input v-model="row.degree" input class="form-control" type="number" value="0" name ="skill_degree" id="skill_degree"/></td>
                      <td><button class="btn btn-primary" @click="remove(row,index)" >Remove</button></td>
                    </tr>
                  </tbody>
                </table>
              </div>

              <button type="submit" class="btn btn-success">등록</button>
            </form>

        </div>
    </div>
</div>

{% endblock %}

</body>
</html>
