{% load staticfiles %}

<html>
<head>
    <title>{{person.person_name}}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
</head>
<body style="padding:5%">
<div class="content container">

  <div class="row" style="margin-top:20px">
      <div class="col-md-2">
          <div>
          <img src="{{person.profile_image.url}}" alt="..." class="rounded-circle img-thumbnail img-fluid" style="width:160px; height:160px">
          </div>
      </div>
      <div class="col-md-10">
          <div >
            <h1>{{person.person_name}} </h1>
            <h4><span class="badge badge-pill badge-success">{{person.position}}</span> </h4>
          </div>
      </div>
  </div>

    <div class="row">
        <div class="col-md-16">
            <div style="margin-top:20px">
              {% for sk in person.skill_set.all%}
              <h4>{{ sk.devstack }}  <div class="progress" style="margin-top:10px">  <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: {% widthratio sk.degree 100 100 %}%" aria-valuenow="{% widthratio sk.degree 100 100 %" aria-valuemin="0" aria-valuemax="100"></div></div></h4>
              {% endfor %}
            </div>
        </div>

    </div>
</div>
</body>

</html>
