{% extends "resume_prac/header.html" %}
{% load staticfiles %}

<html>
<head>
  {% block title %} <title>Resume</title> {% endblock %}

  {% block extra_head%}
  <link rel="stylesheet" href="{% static "resume_prac/write.css" %}">
  {% endblock%}

</head>

{% block content %}
<body style="padding:10%">
<div class="content container">
    <header class="page-header">
        <h1>Personal Info</h1>
    </header>
    <div class="row">
        <div class="col-md-12">
            <form method="POST" enctype="multipart/form-data" class="form_layout" >
                {% csrf_token %}
                <div class="form-group">
                    <label for="name">이름</label>
                    <input type="text" name="name" class="form-control" id="name" placeholder="이름" required>
                </div>
                <div class="form-group">
                    <label for="position">직군</label>
                    <input type="text" name="position" class="form-control" id="position" placeholder="직군" required>
                </div>
                <div class="form-group">
                    <label for="fb">facebook 주소</label>
                    <input type="text" name="fb" class="form-control" id="fb" placeholder="ex) www.fb.me/">
                </div>
                <div class="form-group">
                    <label for="gb">github 또는 블로그 주소</label>
                    <input type="text" name="gb" class="form-control" id="gb" placeholder="ex) github.com/junebuug">
                </div>
                <div class="form-group">
                    <label for="profile_image">프로필 사진 업로드</label>
                     <input id="profile_image" type="file" class="form-control" name="profile_image">
                </div>
                <div class="form-group">
                    <label for="oneline">한마디</label>
                    <input type="text" name="oneline" class="form-control" id="oneline" placeholder="한마디를 적어주세요.">
                </div>
                <div class="form-group">
                    <label for="introduction">소개</label>
                    <textarea name="introduction" class="form-control" id="introduction" placeholder="소개를 적어주세요." rows="5" required></textarea>
                </div>
              <button type="submit" class="btn btn-success">다음 (경력 입력)</button>
            </form>

        </div>
    </div>
</div>

{% endblock %}

</body>
</html>
