{% extends "resume_prac/header.html" %}

{% load staticfiles %}

<html>
<head>
  {% block title %} <title>{{ person.person_name }} </title> {% endblock %}
  {% block extra_head%} <link rel="stylesheet" href="{% static "resume_prac/detail.css" %}">
  {% endblock%}
</head>
<body>

{% block content %}
<div class="content container">
  <div class="row">

      <div class="col-md-2" >
          <img src="{{person.profile_image.url}}" alt="프로필사진" class="rounded-circle img-thumbnail img-fluid center-cropped">
      </div>

      <div class="col-md-10">
            <h1>{{person.person_name}} </h1>
            <h5><span class="badge badge-pill badge-success">{{person.position}}</span></h5>
            <a href="#"><i class="fa fa-facebook-official" aria-hidden="true" ></i></a>
            <a href="#"><i class="fa fa-github-alt" aria-hidden="true"></i></a>
      </div>

      <div class="col-md-12">
            <hr>
      </div>ㅌㅈ

      <div class="col-md-12">
            <h5 class="oneline">{{ person.person_oneline }}</h5>
      </div>
  </div>

    <div class="row" style="margin-top: 40px">

        <div class="col-md-12">
            <div>
              <i class="fa fa-grav" aria-hidden="true"> 소개</i>
              <hr> <!-- 선 -->
              <p >{{ person.person_desc }}</p>
            </div>
        </div>


        {% if experience %}
        <div class="col-md-12">
            <div>
              <i class="fa fa-database" aria-hidden="true"> 경력</i>
              <hr> <!-- 선 -->

              <div class="timeline">
                {% for ex in experience %}
                <div class="entry">
                  <div class="title">
                    <h3> {{ex.startDate.year}}.{{ex.startDate.month}} - {{ex.endDate.year}}.{{ex.endDate.month}}</h3>
                    <p> {{ex.ex_name}}</p>
                  </div>
                  <div class="body">
                    <p>{{ ex.ex_desc }}</p>
                    <p class="sub">타임라인입니다.</p>
                  </div>
                </div>
                  {% endfor%}
              </div>
            </div>
        </div>
        {% endif %}


        <div class="col-md-12">
            <div>
              <i class="fa fa-heart" aria-hidden="true"> 스킬</i>
              <hr>
            </div>
        </div>

        <div class="col-md-12">
            <div>
              {% for sk in person.skill_set.all%}
              <h4>{{ sk.devstack }}
                 <div class="progress" style="margin-top:10px">
                   <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: {% widthratio sk.degree 100 100 %}%" aria-valuenow="{% widthratio sk.degree 100 100 %" aria-valuemin="0" aria-valuemax="100">{{sk.degree}}%</div>
                 </div>
               </h4>
              {% endfor %}
            </div>
        </div>

        <div class="col-md-12">
            <div>
              <i class="fa fa-hashtag" aria-hidden="true"> 관심사</i> <a href="/resume/{{person.id}}/add"><i class="fa fa-plus-circle" aria-hidden="true"></i></a>
              <hr>
            </div>
            <div>
              {% for t in person.tag_set.all%}
            <span class="badge badge-pill badge-info">{{ t.tag_name }} </span>
              {% endfor %}
            </div>
        </div>

    </div>
</div>
{% endblock %}
</body>

</html>
